body{

margin:0;

font-family:Arial,sans-serif;

background:#4facfe;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

background:white;

padding:30px;

width:400px;

border-radius:15px;

box-shadow:0px 0px 15px gray;

text-align:center;

}

input{

width:90%;

padding:10px;

margin:10px 0;

font-size:16px;

}

button{

padding:10px 20px;

background:#007BFF;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#0056b3;

}

.weather{

margin-top:20px;

text-align:left;

}

.suggestion{

margin-top:20px;

background:#eef6ff;

padding:15px;

border-radius:10px;

}