/* ---------- General Page ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:linear-gradient(135deg,#4facfe,#00f2fe);

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

/* ---------- Main Container ---------- */

.container{

    width:700px;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

/* ---------- Heading ---------- */

h1{

    text-align:center;

    color:#1e3c72;

    margin-bottom:10px;

}

.subtitle{

    text-align:center;

    color:gray;

    margin-bottom:25px;

}

/* ---------- Search Area ---------- */

.search-box{

    display:flex;

    gap:10px;

    margin-bottom:25px;

}

.search-box input{

    flex:1;

    padding:12px;

    border:2px solid #4facfe;

    border-radius:10px;

    font-size:16px;

}

.search-box button{

    padding:12px 25px;

    border:none;

    border-radius:10px;

    background:#4facfe;

    color:white;

    font-size:16px;

    cursor:pointer;

}

.search-box button:hover{

    background:#0077ff;

}

/* ---------- Cards ---------- */

.weather-card,
.aqi-card,
.health-card,
.travel-card,
.clothes-card,
.alert-card{

    background:#f7f9fc;

    padding:20px;

    border-radius:15px;

    margin-bottom:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

h2{

    color:#0077ff;

    margin-bottom:15px;

}

.weather-card p,
.aqi-card p,
.clothes-card p,
.alert-card p{

    margin-bottom:8px;

}

ul{

    padding-left:20px;

}

li{

    margin-bottom:8px;

}