/* ---------- General Page ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:linear-gradient(135deg,#4facfe,#00f2fe);

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

/* ---------- Main Container ---------- */

.container{

    width:700px;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

/* ---------- Heading ---------- */

h1{

    text-align:center;

    color:#1e3c72;

    margin-bottom:10px;

}

.subtitle{

    text-align:center;

    color:gray;

    margin-bottom:25px;

}

/* ---------- Search Area ---------- */

.search-box{

    display:flex;

    gap:10px;

    margin-bottom:25px;

}

.search-box input{

padding:15px;

border-radius:50px;

font-size:18px;

}

.search-box button{

border-radius:50px;

transition:.3s;

}

.search-box button:hover{

    background:#0077ff;

}
/* ---------- Cards ---------- */

.weather-card:hover,
.aqi-card:hover,
.health-card:hover,
.travel-card:hover,
.clothes-card:hover,
.alert-card:hover{

transform:translateY(-5px);

transition:.3s;

}
h2{

    color:#0077ff;

    margin-bottom:15px;

}

.weather-card p,
.aqi-card p,
.clothes-card p,
.alert-card p{

    margin-bottom:8px;

}

ul{

    padding-left:20px;

}

li{

    margin-bottom:8px;

}
.dashboard{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}
@media(max-width:768px){

.container{

width:95%;

}

.dashboard{

grid-template-columns:1fr;

}

.search-box{

flex-direction:column;

}
}
.loading{

display:none;

color:#0077ff;

font-weight:bold;

text-align:center;

}